{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>صفحة تتبع التمارين الرئيسية</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container home-page">
        <h1>مرحباً بك في متتبع التمارين</h1>
        <p class="lead">ابدأ بتخطيط تمارين الأسبوع:</p>
        <div class="actions">
            <a href="{% url 'plan_week_overview' %}" class="btn btn-primary">تخطيط الأسبوع</a>
            <a href="{% url 'add_workout' %}" class="btn btn-secondary">إضافة تمرين جديد</a>
            <a href="{% url 'logout' %}" class="btn btn-info">تسجيل الخروج</a>
        </div>
    </div>
</body>
</html>