{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>تخطيط الأسبوع رقم {{ week_number }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container plan-week-overview-page">
        <h1>تخطيط الأسبوع رقم {{ week_number }}</h1>
        <ul class="week-days-list">
            {% for day_code, day_name in days_of_week %}
                <li>
                    <a href="{% url 'plan_day_plan' week_number=week_number day_code=day_code %}" class="btn btn-outline-primary btn-block">{{ day_name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="week-navigation mt-3">
            {% if previous_week %}
                <a href="{% url 'plan_week_overview_with_number' week_number=previous_week %}" class="btn btn-secondary">الأسبوع السابق</a>
            {% endif %}
            <span class="mx-2">|</span>
            <a href="{% url 'plan_week_overview_with_number' week_number=next_week %}" class="btn btn-secondary">الأسبوع التالي</a>
        </div>
        <div class="mt-3">
            <a href="{% url 'home' %}" class="btn btn-secondary">الرجوع للصفحة الرئيسية</a>
        </div>
    </div>
</body>
</html>